extends ../components/base/layout

block variables
  - const title = "Список страниц"

block main
  style
    include ../../sass/inline/sitemap.css

  -
    const pages = [
      {
        name: "Главная — index.html",
        src: "index.html"
      },
      {
        name: "Практики — services.html",
        src: "services.html"
      },
      {
        name: "Команда — team.html",
        src: "team.html"
      },
      {
        name: "Новости — news.html",
        src: "news.html"
      },
      {
        name: "Контакты — contacts.html",
        src: "contacts.html"
      },
      {
        name: "Политика приватности — policy.html",
        src: "policy.html"
      },
    ]

  main
    .sitemap
      .container
        img(src="./img/svg/logo-header.svg", width="300", alt="Логотип проекта")
        h1 Список страниц
        ol
          each page in pages
            li
              if page.id
                label(for=page.id)
                  span!= page.name
                input.visually-hidden(type="checkbox", checked=true, id=page.id)
                div
                  ul
                    each item in page.innerList
                      li
                        a(href= item.src)= item.name
              else
                a(href= page.src)= page.name
